name: Flutter Web CI/CD Docker

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.41.1'

    - name: Install dependencies
      run: flutter pub get


    - name: Run tests
      run: flutter test --coverage

    - name: Extract version
      id: version
      run: |
        VERSION=$(grep '^version:' pubspec.yaml | awk '{print $2}' | cut -d'+' -f1)
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

    - name: Build Flutter Web
      run: flutter build web --release

    - name: Login Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
          TAG=$(echo $GITHUB_SHA | cut -c1-7)

          if [ "${GITHUB_REF##*/}" == "main" ]; then
            IMAGE_TAG=prod-${{ steps.version.outputs.VERSION }}-$TAG
          else
            IMAGE_TAG=dev-${{ steps.version.outputs.VERSION }}-$TAG
          fi

          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          docker build -t hakimsamouh/flutter-web:$IMAGE_TAG .

    - name: Scan Docker image
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: hakimsamouh/flutter-web:${{ env.IMAGE_TAG }}
        severity: CRITICAL,HIGH
        exit-code: 1

    - name: Push Docker image
      run: docker push hakimsamouh/flutter-web:${{ env.IMAGE_TAG }}
